* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
header {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: rgb(60, 0, 109);
    border-bottom: 1px solid rgb(84, 0, 153);
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo span {
    color: #fff;
    font-weight: 800;
    width: 80px;
    height: auto;
}
.menu {
    display: flex;
}
nav ul, nav li {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul {
    display: flex;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
}
nav li {
    color: #fff;
    padding: 10px;
}
.active {
    color: rgb(60, 0, 109);
    background-color: #fff;
    border-radius: 5px;
}
nav a {
    text-decoration: none;
}
nav li:hover {
    color: rgb(60, 0, 109);
    background-color: #fff;
    border-radius: 5px;
}
.container-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 990px;
}
#banner {
    display: flex;
    justify-content: space-around;
    background-position: center;
    height: 500px;
    background: linear-gradient(45deg, rgb(60, 0, 109),rgb(84, 0, 153));
}
.banner-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text h1 {
    justify-content: center;
    color: #fff;
    line-height: 50px;
    font-size: 50px;
    max-width: 500px;
    margin-bottom: 20px;
}
.banner-text p {
    justify-content: center;
    align-content: center;
    color: #fff;
    line-height: 20px;
    font-weight: 100;
    max-width: 500px;
    text-align: justify;
}
.banner-text input[type=submit]{
    color: rgb(84, 0, 153);
    font-size: 15px;
    font-weight: 700;
    width: 150px;
    border: 0;
    border-radius: 40px;
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    align-items: flex-start;

}
.banner-text input[type=submit]:hover{
    border: 1px solid #fff;
    background: none;
    color: #fff;
}
.banner-image {
    padding-left: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    width: 300px;
    height: auto;
}
#info {
    display: flex;
    justify-content: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.box {
    margin-top: 20px;
    flex: 1;
    min-width: 300px;
    margin-left: 30px;
}
.info-icon {
    display: flex;
    justify-content: center;
}
.info-icon img{
    width: 80px;
    height: auto;
}
.info-text {
    text-align: center;
}
.info-text p {
    font-size: 15px;
    padding-top: 20px;
    text-align: justify;
}
#sale {
    display: flex;
    justify-content: center;
}
h3 {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}
.sale-image {
    display: flex;
    justify-content: center;
}
.sale-image img {
    padding: 20px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.sale-text {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sale-text h4, p {
    justify-content: center;
    text-align: center;
}
.sale-text a {
    padding-bottom: 50px;
}
.button-buy{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    width: 150px;
    border: 0;
    border-radius: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgb(60, 0, 109);
    align-items: flex-start;
}
.button-buy:hover {
    color: rgb(60, 0, 109);
    background-color: #fff;
    border:  1px solid rgb(60, 0, 109);
}
footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 50px;
    background-color: rgb(60, 0, 109);
}
footer p {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
footer p a {
    text-decoration: none;
    color: #fff;
}
footer p a:hover {
    text-decoration:underline;
}